################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/General Lib/bin/x86/Debug
/General Lib/obj/x86
/.vs/GeneralLib/v16/Server/sqlite3
/.vs
